*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container{
    width: 400px;
    margin: 50px auto;
    background-image: linear-gradient(154deg, #2793af, #6cd3ec);
    border-radius: 5px;
    color:white;
    box-shadow: 3px 3px 10px #2793af;
}

.section-info{
    padding: 5px 0px;
}

.search-bar{
    width: 50%;
    margin: 0px auto;
    border-bottom: 1px solid white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    border:none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;
    margin-left: 5px;
    padding: 3px;
}
.search-input::placeholder{
    color: rgb(240, 227, 227);
}
.weather-info{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.city-name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.weather-state{
    font-size: 14px;
    font-weight: thin;
}
.weather-icon{
    width: 120px;
    height: 120px;
}
.weather-degree{
    font-size: 80px;
    font-weight: 100;
    position: relative;
    line-height: 1;
}
.weather-degree::after{
    content: "o";
    position: absolute;
    font-size: 25px;
}
.section-additional{
    border-top: 1px solid white;
    padding: 20px 20px;
    display: flex;
}
.row{
    flex: 1;
}
.item{
    margin-bottom: 5px;
}
.item .label{
    font-weight: bold;
}